<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../load'); %>
        <style>
            .navbar-nav>li>a {
                text-align: left;
            }
            
            .navbar-nav>li>a {
                color: #777 !important;
            }
            
            #bs-example-navbar-collapse-1 {
                background-color: whitesmoke;
            }
            
            @media (max-width: 720px) {
                .answer {
                    display: none;
                }
            }

        </style>
</head>

<body>
    <% var qnas = qnas || "null"; %>
        <%- include('../navbar', {search_on: true,active:3,page:"/qna/search",write:"/qna/edit"}); %>
            <div id="qna-container" style="margin-top: 60px;margin-bottom: 60px;margin-left: 10%;margin-right: 10%;">
                <div style="border-color: #EAEAEA; border-style: solid;">
                    <div style="margin-left: 5%;margin-right: 5%;margin-top: 20px;">
                        <div style="font-size: 15px;padding-bottom: 10px;">전체</div>
                        <% if (qnas != null){  for(var i = 0; i<qnas.length; i++){  %>
                            <div style="border-top-style: solid;border-width: 1px;border-color: #EAEAEA;">
                                <div style="margin-bottom: 20px;">
                                    <div>
                                        <a href="/qna/contents" style="font-size: 30px;">
                                            <%= qnas[i].title%>
                                        </a> <span style="margin-left: 5px;"><%= qnas[i].date%></span> </div>
                                    <div class="media">
                                        <div class="media-body">
                                            <a href='<%="/qna/contents?token=" +qnas[i].token %>'><%= String(qnas[i].contents).replace(/<[\s\S]*?>/g,"").substring(0,200)+"..." %> </a></div>
                                        <div class="media-right">
                                            <div class="answer" style="color: #696969;border-width: 2px;border-color: #EAEAEA;border-style: solid;border-radius: 50%;padding: 15px;text-align: center;">
                                                <span style="font-size: 20px;"><%= qnas[i].A.length%></span> <br>answer
                                            </div>
                                        </div>
                                    </div>
                                    <div style="margin-top: 5px;">
                                        <img src="/image/user.png" style="width: 20px;height: 20px;">
                                        <span style="margin-left: 5px;"><%=qnas[i].writer%></span>
                                    </div>
                                </div>
                            </div>
                            <%}}%>
                    </div>
                </div>
            </div>
</body>

</html>
