<html lang="en">

<head>
    <%- include('../load'); %>
        <style>
            .navbar-nav>li>a {
                color: #777 !important;
            }
            
            #bs-example-navbar-collapse-1 {
                background-color: whitesmoke;
            }
            
            @media (max-width: 768px) {
                img {
                    width: 100%;
                }
            }

        </style>
</head>

<body style="    background-color: #EDEDED;">
    <%- include('../navbar', {search_on: true,active:2,page:"/dictionary/search",write:"/dictionary/edit"}); %>
        <div class="container" style="    background-color: #fff;    margin-top: 30px;">
            <div>
                <h2>
                    <%= content.title %>
                </h2>
                <p>
                    <%= content.writer %>
                </p>
                <p>
                    <%= content.date %>
                </p>
            </div>
            <div style="    margin-bottom: 20px;">
                <%- content.contents %>
            </div>
        </div>
</body>

</html>
