<html lang="en">

<head>
    <%- include('load') %>
        <style>
            #bs-example-navbar-collapse-1 {
                background-color: whitesmoke;
            }
            
            .navbar-nav>li>a {
                color: #777 !important;
            }
            
            .navbar-form {
                width: 30%;
            }
            
            @media (max-width: 768px) {
                .navbar-form {
                    width: 95%;
                }
            }
            
            @media (max-width: 768px) {
                #logo {
                    display: none
                }
            }
            
            @media (max-width: 480px) {
                .content-container {
                    margin-left: 10%;
                    margin-right: 10%;
                    margin-top: 20px;
                }
            }
            
            @media (max-width: 360px) {
                #logo {
                    display: none
                }
            }
            
            .btn-circle.btn-lg {
                padding: 0;
                text-align: center;
                width: 50px;
                height: 50px;
                font-size: 10px;
                line-height: 1.33;
                border-radius: 25px;
            }

        </style>
</head>

<body style=" background-color: #EDEDED;">
    <%  var search_on= search_on? search_on:true;  %>
        <%  var active= active? active:0;  %>
            <%  var page= page? page: "/search"  %>

                <%- include('navbar', {search_on: search_on, active:active, page:page} ); %>
                    <div class="container" style=" background-color: #fff; margin-top: 30px;">
                        <div>
                            <h3 style="text-align: center;">
                                <span></span>
                                <% var data = data ? data : null %>
                                    <%= data %> 검색결과
                                        <span></span>
                            </h3>
                        </div>
                        <% var results=results? results: null; %>
                            <% for(var i in results){%>
                                <div>
                                    <p>
                                        <a style="font-size: large;" href="./contents?token=<%= results[i].token %>">
                                            <%= results[i].title %>
                                        </a>
                                    </p>
                                    <p>
                                        <%= String(results[i].contents).replace(/<[\s\S]*?>/g,"").substring(0,200)+"..." %>
                                    </p>
                                </div>
                                <% } %>
                    </div>
</body>

</html>
